venv/
.app.log
api.py
a.py
arquivos.png
banese.png
cecommerce.png
cfisico.png
checklist.py
dark.png
ecommerce.png
fase2.py
fisico.png
fisico.py
interface.spec
mensagens_selecionadas.txt
pix_prd.png
pix.png
sniffeprd.png
softpass.png
unificada.png
uptime.png
wtnet.png
zabbix.png
snifferprd.png
mensagens_selecionadas.txt
teste/
build/
app.log